{% extends "base.html" %}
{% block content %}


<h2>Cargar Nomina de Socios  desde un Archivo CSV</h2>

<p>El archivo CSV debe contener los siguientes campos: nombre, email, teléfono.</p>

<form method="post" enctype="multipart/form-data" action="{{ url_for('socio.cargar_csv') }}">
    <label for="archivo_csv">Selecciona un archivo CSV:</label>
    <input type="file" id="archivo_csv" name="archivo_csv" accept=".csv" required>
    <button type="submit">Cargar Archivo</button>
</form>

{% if get_flashed_messages() %}
    <div class="flash-messages">
        {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}

{% endblock %}
