{% extends "base.html" %}

{% block content %}

    
<h2>Lista de Socios</h2>
<a href="{{ url_for('socio.agregar_socio') }}">Agregar Socio</a>
<div class="container mt-3">
    <h2>Lista de Socios</h2>
    <table id="sociosTable" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for socio in socios %}
            <tr>
                <td>{{ socio.id }}</td>
                <td>{{ socio.name }}</td>
                <td>{{ socio.email }}</td>
                <td>{{ socio.phone }}</td>
                <td>
                    <!-- Botón de Modificar -->
                    <a href="{{ url_for('socio.editar_socio', id=socio.id) }}" class="btn btn-primary">Modificar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
<!-- Bootstrap Bundle JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


<script>
$(document).ready(function() {
    $('#sociosTable').DataTable({
        "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
        },
        "pageLength": 10
    });
});
</script>





{% endblock %}
